* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img, a, svg {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    width: 120rem;
    margin: 0 auto;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* F-O-N-T-S */

.montserrat-white {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 700;
    color: $white-color;
}

.montserrat-grey {
    font-family: "Montserrat";
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $black-color;
}

.montserrat-grey-reg {
    font-family: "Montserrat";
    font-size: 1.4rem;
    font-weight: 400;
    color: $black-color;
}

.roboto {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.5rem;
    color: $grey-color;
    line-height: 2.4rem;
}

.roboto-light {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.5rem;
    font-style: italic;
    color: $grey-color;
    text-align: center;
}

.kaushan-script {
    font-family: "Kaushan-script";
    font-size: 2.4rem;
    color: $black-color;
    margin-bottom: 2rem;
}

.kaushan-white {
    font-family: "Kaushan-script";
    font-size: 7.2rem;
    color: $white-color;
    text-align: center;
}

.marg-bottom-0 {
    margin-bottom: 0;
}