:root {
  font-size: 62.5%;
}

$white-color: rgb(255, 255, 255);
$yellow-color: rgb(252, 227, 138);
$black-color: rgb(51, 51, 51);
$grey-color: rgb(153, 153, 153);
$pink-color: rgb(243, 129, 129);
$ocean-color: rgb(149, 225, 211);
