:root {
    --site-logo-font: 'Pacificoregular', cursive;
    --main-font: 'Montserrat', sans-serif;
    --add-font: 'Courgetteregular', cursive;
    --grey-color: #222222;
    --light-color: #777777;
    --white-color: #ffffff;
    --yellow-color: #fed136;
    --very-light-color: #bbbbbb;
}