%span {
  display: block;
  text-align: center;
}

@mixin after-element($pink-color) {
  content: "";
  display: block;
  width: 6rem;
  height: 0.3rem;
  background-color: $pink-color;
  margin: 0 auto;
  margin-top: 4rem;
}

.services-section,
.team-section {
  padding: 4.5rem 0;

  &__title {
    margin-bottom: 6.5rem;

    &:after {
      @include after-element($pink-color);
    }
  }
}

.services-section__title-span1,
.team-section__title-span1 {
  @extend %span;
}

.services-section__title-span2,
.team-section__title-span2 {
  @extend %span;
  font-size: 3rem;
}

.services-section-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.services-section__item {
  width: 30%;
  display: flex;

  &:nth-child(-n + 3) {
    margin-bottom: 9rem;
  }
}

.services-section__svg-cont {
  width: 25%;
}

.services-section__item-svg {
  margin: 0 auto;
  fill: $ocean-color;
}

.services-section__text-cont {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.services-section__item-title {
  margin-bottom: 1.5rem;
}
