@mixin overlay($ocean-color) {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 47rem;
  background-image: linear-gradient(
    rgba(243, 129, 129, 0.9),
    rgba(252, 227, 138, 0.9)
  );
  -webkit-box-shadow: 10px 10px 0px 0px $ocean-color;
  -moz-box-shadow: 10px 10px 0px 0px $ocean-color;
  box-shadow: 10px 10px 0px 0px $ocean-color;
}

.team-section {
  padding-bottom: 8rem;

  &__text {
    text-align: center;
    margin-bottom: 9rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
  }
}

.team-section__figure-picture {
  display: block;
  margin-bottom: 3rem;

  &-cont {
    transition: transform 200ms linear;

    &:hover {
      transform: translate(-10px, -10px);
    }
  }
}

.team-section__figcaption-text1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.team-section__overlay {
  @include overlay($ocean-color);
}

.team-section__picture-cont:hover .team-section__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-section__overlay-link {
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.6rem;
  height: 5.6rem;
  background-color: $yellow-color;
  border: 1px solid $pink-color;
  transition: background-color 200ms linear;

  &:hover {
    background-color: $pink-color;
  }

  &:focus {
    background-color: $pink-color;
  }
}

.team-section__overlay-link-svg {
  fill: $pink-color;
  transition: fill 600ms linear;
}

.team-section__overlay-link:hover .team-section__overlay-link-svg,
.team-section__overlay-link:focus .team-section__overlay-link-svg {
  fill: $white-color;
}
