.partner-section {
  padding: 7rem 0;
}

.partner-section-title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.partner-section-list {
  margin-bottom: 3rem;
  padding: 0;
}

.partner-section-list-item {
  text-align: center;
  margin-bottom: 3rem;
}

.partner-figure {
  width: 20rem;
  margin: 0 auto;
}

.partner-img {
  display: block;
}

.img-cont {
  display: inline-block;
  position: relative;
}

.img-cont::before {
  content: "";
  display: block;
  background-image: url(../../img/spritesheet.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-position: 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
.img-cont2::before {
  background-position: -40px 0;
}
.img-cont3::before {
  background-position: -80px 0;
}
.img-cont4::before {
  background-position: -121px 0;
}

.figcaption-p1 {
  font-size: 1.4rem;
}

.figcaption-p2 {
  font-family: "Roboto";
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--grey-color);
}

.partner-figure,
.figcaption-p2,
.partner-section-list-item:last-child {
  margin-bottom: 0;
}

.img-cont,
.figcaption-p1 {
  margin-bottom: 2rem;
}

.see-other-button {
  display: block;
  margin: 0 auto;
  max-width: 28rem;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1.3rem 0;
  border-radius: 2rem;
  border: 0.2rem solid var(--red-color);
  background: none;
  color: var(--red-color);
}

.see-other-button:hover,
.see-other-button:focus {
  -webkit-box-shadow: 10px -10px 38px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px -10px 38px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 10px -10px 38px -2px rgba(0, 0, 0, 0.75);
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 48em) {
  
  .container {
    max-width: 76.8rem;
  }
  
@media screen and (min-width: 58.75em) {

  .container {
    max-width: 94rem;
  }
