.header-wrapper {
    background: linear-gradient(rgba(243,129,129,0.9), rgba(252,227,138,0.9)), url(../images/hero-sect-bg-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100rem;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .header-wrapper {
        background: linear-gradient(rgba(243,129,129,0.9), rgba(252,227,138,0.9)), url(../images/hero-sect-bg-2x.jpg);
    }
}

.header {
    padding-top: 2.5rem;
    margin-bottom: 16.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-span {
    transition: color 200ms linear;
}

.header__logo-span::first-letter {
    text-transform: uppercase;
}

.header__nav {
    width: 50%;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-link {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: color 200ms linear;
}

.header__nav-link-icon {
    transition: fill 200ms linear;
}

.header__logo-link:hover .header__logo-span,
.header__logo-link:focus .header__logo-span,
.header__nav-link:hover, .header__nav-link:focus {
    color: var(--yellow-color);
}

.header__nav-link-icon {
    fill: var(--white-color);
}

.header__nav-link-icon:hover, .header__nav-link-icon:focus {
    fill: var(--yellow-color);
}

.header__nav-item::after {
    content: "";
    display: block;
    height: 0.3rem;
    background-color: var(--yellow-color);
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}

.header__nav-item:hover::after {
    transform: scaleX(1);
}

.hero-section__title {
    margin: 0 0 12rem 0;
    text-align: center;
}

.hero-section__span1 {
    display: block;
    margin-bottom: 5.5rem;
}

.hero-section__span2 {
    display: block;
    font-size: 15rem;
    line-height: 1.0;
    text-transform: uppercase;
    text-align: center;
}

.hero-section__link {
    margin: 0 auto;
    max-width: 16rem;
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 1rem 0;
    border: 0.3rem solid var(--white-color);
    transition: color 200ms linear, background-color 200ms linear;
}

.hero-section__link:hover, 
.hero-section__link:focus {
    color: var(--black-color);
    background-color: var(--white-color);
}













