.services-section, .team-section {
  padding: 4.5rem 0;
}

.services-section__title {
  margin-bottom: 6.5rem;
}

.services-section__title-span1,
.team-section__title-span1 {
  display: block;
  text-align: center;
}

.services-section__title-span2,
.team-section__title-span2 {
  display: block;
  font-size: 3rem;
  text-align: center;
}

.services-section__title::after,
.team-section__title::after {
  content: "";
  display: block;
  width: 6rem;
  height: 0.3rem;
  background-color: var(--pink-color);
  margin: 0 auto;
  margin-top: 4rem;
}

.services-section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-section__item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-section__svg-cont {
  width: 25%;
}

.services-section__item-svg {
  margin: 0 auto;
}

.services-section__text-cont {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-section__item:nth-child(-n + 3) {
  margin-bottom: 9rem;
}

.services-section__item-title {
  margin-bottom: 1.5rem;
}